name: TestCI

on: push

jobs:
  publish:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      name: Check out code
      with:
        repository: 'iswa-git/gitactions'

    - uses: mr-smithers-excellent/docker-build-push@v5
      name: Build & push Docker image
      with:
        image: ibrikdev/demo
        registry: docker.io
        username: ${{ secrets.DOCKER_IBRIKDEV_USER }}
        password: ${{ secrets.DOCKER_IBRIKDEV_PASSWORD }}